* {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #333333;
}
body {
	margin: 0;
}
h1 {
	font-weight: bold;
	font-size: 56px;
        margin-top: 75px;
	margin-bottom: 0px;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 24px;
}
h2, h3, h4 {
	font-weight: normal;
}
h1, .header-constraint-three p, .subhead, .subhead-two, .blurb1 em, .blurb1 p, .blurb1 span, .blurb3 p, .sidebar-form a.btn {
	color: #fff;
}
p {
	line-height: 28px;
}
blockquote {
	margin: 0 5px 30px 0;
}
.container {
	max-width: 1280px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial, Helvetica, sans-serif;
}
.main-content {
	overflow: hidden;
	padding: 15px;
}

@media (min-width: 768px){
        .main-content {
                padding: 35px 60px;
        }
}

.wide-column {
	float: left;
        margin-bottom: 60px;
	width: 68%;
	padding: 0 20px;
}

@media (min-width: 1058px){
        .wide-column {
               margin-bottom: 0;
        }
}

.narrow-column {
	float: left;
	width: 32%;
	padding: 0 20px;
}
.header {
	padding-bottom: 60px;
	background-image: url(/wp-content/themes/tanner2015/img/header-bg.jpg);
        background-size: cover;
	color: white;
	text-align: center;
}

@media (max-width: 768px){
        .header {
                padding-left: 15px;
                padding-right: 15px;
        }

        .header h1 {
                font-size: 36px;
        }
}

.header hr {
    display: block;
    height: 1px;
    border-top: 1px solid #fff;
    margin: 1em auto;
    padding: 0;
    width: 150px;
}

.header .description {
	line-height: 28px;
        color: #fff;
	font-size: 18px;
        max-width: 700px;
        margin-right: auto;
        margin-left: auto;
}

.tanner-logo {
	display: inline-block;
        width: 160px;
	height: 25px;
        margin-top: 60px;
	background: url(/wp-content/themes/tanner2015/img/tanner-logo-white.png) no-repeat center;
}

.subhead {
  text-transform: uppercase;
  padding-bottom: 10px;
  letter-spacing: 6px;
  font-size: 20px;
  font-weight: bold;
}

.subhead-two {
	font-weight: bold;
	font-size: 32px;
}
.call-today {
display: inline-block;
background-color: white;
padding: 15px 30px;
text-align: center;
margin-left: auto;
margin-right: auto;
letter-spacing: 4px;
font-weight: bold;
font-size: 14px;
border-bottom: 3px solid #003923;
}

@media (min-width: 768px){
        .call-today {
                font-size: 20px;
        }
}

.call-today a {
	text-decoration: none;
	color: #005031;
}

@media (min-width: 768px){
        .customers {
	        height: 160px;
        	width: 100%;
	        background: #ECE9E4 url(/wp-content/themes/tanner2015/img/customers.png) center center no-repeat;
        }
}


.blurb1 {
	background-color: #00A79E;
	border-left: 4px solid #00736B;
	padding: 22px 40px;
	margin-bottom: 40px;
	font-size: 18px;
}
.blurb1 em {
	font-style: italic;
	text-decoration: underline;
	font-weight: bold;
	font-size: 20px;
}
.blurb2 {
	background-color: #DFDBD7;
	padding: 30px;
	margin-bottom: 40px;
}
.blurb2 h2 {
	margin-top: 0;
	font-size: 24px;
}
.utahs-best img{
        max-width: 100%;
}
.experts {
	border: 4px solid #DFDBD7;
	background-image: url(/wp-content/themes/tanner2015/img/john.jpg);
        background-position: bottom center;

	background-size: contain;
	background-repeat: no-repeat;

	margin-bottom: 40px;
        padding: 20px 20px 400px;
}

@media (min-width: 768px){
       .experts {
              	padding: 8px 275px 20px 20px;
         	background-position: bottom right;
       }
}

.blurb3 {
	background-image: url(/wp-content/themes/tanner2015/img/header-bg.jpg);
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding: 40px;
}
.sidebar-box {
	background-color: #ECE9E4;
	padding: 30px;
	margin-bottom: 40px;
}
.sidebar-box h4 {
	margin: 0;
	font-size: 22px;
}
.sidebar-box p {
	line-height: 20px;
}
.small-text {
	line-height: 34px;
  padding-left: 30px;
}
.sidebar-form {
	margin-top: 15px;
}
.sidebar-form input, .sidebar-form .btn {
	display: block;
	width: 100%;
	padding: 12px;
	margin: 11px 0;
	border: none;
	font-size: 16px;
}
.sidebar-form .wpcf7-submit {
        color: #fff;
	padding: 12px;
	background-color: #00A79E;
	border-bottom: 3px solid #00736B;
	text-align: center;
	font-size: 20px;
	letter-spacing: 2px;
}

.sidebar-form .screen-reader-response ul {
        display: none;
}

.sidebar-form .screen-reader-response,
.sidebar-form .wpcf7-not-valid-tip {
        color: #c0392b;
}

.sidebar-blurb {
	border-top: 3px solid #00736B;
	border-bottom: 3px solid #00736B;
	padding-bottom: 25px;
}
.sidebar-blurb p {
	font-style: italic;
	line-height: 25px;
}
.citation {
	display: block;
	text-align: right;
	font-style: normal;
	font-size: 14px;
	font-weight: bold;
}
.download a {
	font-size: 20px;
	display: block;
	border: 3px solid #DFDBD7;
	padding-left: 100px;
	height: 105px;
	line-height: 105px;
	margin-bottom: 20px;
	text-decoration: none;
	background-image: url(/wp-content/themes/tanner2015/img/pdf.png);
	background-position: 20px center;
	background-repeat: no-repeat;
}

@media(max-width: 1058px) {
	.wide-column, .narrow-column {
		width: 100%;
	}
}