/*
	Theme Name: Tanner Co 2015
	Description: Tanner Co Theme March 2015
	Version: 0.1
	Author: Agency Fusion
	Author URI: http://agencyfusion.com

	Boilerplate: HTML5 Blank Wordpress Theme
	Boilerplate URI: http://html5blank.com
*/

/**
 * Table of Contents
 *
 * 1.0 - Main
 *		1.1 - Buttons
 * 2.0 - Structure
 *		2.1 - Nav
 *		2.2 - Content
 *		2.3 - Footer
 *		2.4 - Contact Form
 *		2.5 - Shortcodes
 * 3.0 - Pages
 *		3.1 - Landing
 *		3.2 - Services
 *		3.3 - Insights
 *		3.4 - Careers
 *		3.5 - About
 *		3.6 - Contact
 *		3.7 - Clients
 *		3.8 - Press
 *      3.9 - Consulting
 *		3.9.1 - Influence
 * 4.0 - Posts
 * 5.0 - Responsive
 * 6.0 - Misc
 * 7.0 - WordPress Core
 * 8.0 - Print
 *
 */

/*------------------------------------*\
		1.0 - Main
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

/* html element 62.5% font-size for REM use */
html {
	font-size: 62.5%;
}

body {
	color: #444;
	font: 400 16px/1.4 'Lato', Helvetica, Arial, sans-serif;
}

/* clear */
.clear:before,
.clear:after {
		content: ' ';
		display: table;
}

.clear:after {
		clear: both;
}

.clear {
		*zoom: 1;
}



img {
	max-width: 100%;
	vertical-align: bottom;
}

a {
	color: #444;
	text-decoration: none;
}

a:hover {
	color: #444;
}

a:focus {
	outline: 0;
}

a:hover,
a:active {
	outline: 0;
}

input:focus {
	border: 1px solid #04A4CC;
	outline: 0;
}

/*------------------*\
		1.1 - Buttons
\*------------------*/

.outlined_button, .vc_btn_square {
	background: none;
	border: 2px solid !important;
	border-radius: 0 !important;
	font-size: 22px !important;
	font-weight: bold;
	letter-spacing: 2.25px;
	line-height: 29px !important;
	padding: 10px 50px !important;
	transition: all 0.5s;
}

.block .outlined_button, .block .vc_btn_square {
	margin-bottom: 4% !important;
}

.current-opportunities a, .send-resume a {
	display: block !important;
	letter-spacing: initial;
	margin: 0 auto;
	padding: 14px 0 !important;
	width: 421px;
}

.current-opportunities .vc_button-2-wrapper {
	display: block;
}

.contact-tanner .outlined_button {
	margin-bottom: 15px !important;
}

.footer .outlined_button {
	font-size: 12px !important;
	padding: 4px 14px !important;
}

/* Colors */

.button_white, .button_white:hover {
	color: #fff;
}

.button_black, .button_black:hover {
	color: #434343;
}

.button_teal, .button_teal:hover {
	background-color: #00a99d;
	border: 3px !important;
	border-bottom: 3px solid rgb(0, 116, 107) !important;
	color: #fff;
}

.button_teal:hover {
	background-color: #31c7bd;
}

input#submit.button_resume {
	float: none;
	letter-spacing: 1px;
	margin-left: 7px;
}

/*------------------------------------*\
		2.0 - Structure
\*------------------------------------*/

/* wrapper */
.wrapper {
	margin: 0 auto;
	width: 100%;
}

.vc_row {
	margin-right: 0 !important;
}

/* header */
.header {
	background-color: #dfdbd7;
}

.header-home {
	background: transparent;
	position: absolute;
	width: 100%;
}

/* logo */
.logo {
	padding: 40px 0 40px 150px;
	width: 30%;
}

/*------------------------------------*\
		2.1 - Nav
\*------------------------------------*/

.nav {
	padding-right: 150px;
	width: 70%;
}

.nav-white a {
	color: #fff;
}

.nav ul {
	float: right;
	list-style-type: none;
	margin: 0;
	text-align: center;
}

.nav ul li {
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	padding: 48px 0;
	text-transform: uppercase;
	width: 130px;
}

.nav .current-menu-item, #menu-item-93.current-page-ancestor, .single-post #menu-item-92 {
	background: #00a99d;
}

.nav .current-menu-item a , #menu-item-93.current-page-ancestor a, .single-post #menu-item-92 a {
	color: #fff;
}

.nav #search {
	float: right;
	margin: 45px 25px;
}

.logo, .nav {
	float: left;
}

/* mobile nav */
.mobile_menu {
	color: #fff;
	display: none;
	float: left;
	font-weight: 700;
	padding: 22px 0 0 10px;
	width: 30%;
}

.mobile_menu_light, .mobile_menu a {
	color: #fff;
}

.mobile_menu ul {
	background: rgba(0, 0, 0, 0.81);
	list-style-type: none;
	margin-left: -20px;
	margin-top: 13px;
	padding: 0 29px;
	position: absolute;
	z-index: 1;
}

.mobile_menu ul li {
	padding: 10px 0;
}

/*------------------------------------*\
		2.2 - Content
\*------------------------------------*/

.block {
	margin-bottom: 0 !important;
	padding: 5% 7%;
	text-align: center;
}

.img-block {
	max-height: 790px;
}

.page-title {
	height: 390px;
	padding-top: 100px;
}

.sub-page {
	height: 0;
	padding-top: 0;
}

.page-title .vc_custom_heading {
	margin-bottom: 0 !important;
}

.img-block, .page-title {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.opening-class p {
	margin: 0 auto !important;
	width: 88%;
}

/*------------------------------------*\
		2.3 - Footer
\*------------------------------------*/
.footer {
	background-color: #ece9e4;
	height: 440px;
	padding: 3.84615% 7.6923%;
}

.footer-left,
.footer-middle,
.footer-right {
	float: left;
	width: 33.33%;
}

.footer-right {
	font-size: 14px;
	padding-left: 73px;
	text-align: center;
}

.footer-right img {
	margin-left: 46px;
}

.footer-left {
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#menu-footer {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	margin: 5% 7%;
}

#menu-footer ul {
	padding: 0;
}

#menu-footer li {
	padding: 10px 0;
	list-style-type: none !important;
}

#social-media {
	margin: 0 auto;
	display: block;
	width: 56%;
}

#social-media a:first-child, #social-media a:nth-child(2) {
	padding-right: 12%;
}

#menu-social-media .menu-item:last-child {
	padding-right: 0;
}

.footer-contact {
	font-size: 23px;
	text-align: center;
}

.footer-right {
	font-size: 14px;
	padding-left: 120px;
}

.footer-right div {
	margin-left: 50px;
}

.footer-right p {
	margin: 0;
}

#address, #number {
	padding-bottom: 30px;
}

#address {
	padding-top: 30px;
}

/*------------------------------------*\
		2.5 - Contact Form
\*------------------------------------*/

input, textarea {
	background: #ddd;
	border: none;
	margin: 7px;
	padding: 10px;
}

input#name, input#email, input[type=file] {
	width: 50%;
}

input#company {
	width: 56%;
}

input#phone {
	width: 24%;
}

textarea#message {
	width: 82%;
}

input#submit {
	float: left;
	font-size: 20px !important;
	margin-left: 9%;
	padding: 10px 23px !important;
}

/* form errors */
.wpcf7-response-output {
	margin: 8% auto !important;
	width: 45%;
}

/*------------------------------------*\
		2.5 - Shortcodes
\*------------------------------------*/

/* Quote */
.quote {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	margin: 0 auto !important;
	padding: 0;
	width: 700px;
}

.quote p {
	font-size: 18px;
	font-style: italic;
	letter-spacing: 1.5px;
	line-height: 1.75em;
	margin: 20px auto !important;
	padding: 0 !important;
	width: 100%;
}

/* Partner */
.partner {
	margin-top: 35px;
	text-align: center;
}

.partner-img {
	height: 199.1px;
	width: 199.9px;
	margin: 0 auto;
}

.partner-img img {
	border-radius: 50%;
	height: 100%;
	margin: 0 auto !important;
}

.partner-name h4 {
	font-size: 25px;
	margin: 0;
}

.first_name, .last_name {
	display: block;
}

.first_name {
	font-size: 30px;
	line-height: 30px;
	font-weight: 600;
}

.last_name {
	margin-bottom: 8px;
}

.partner-contact {
	background: rgba(0, 0, 0, 0.57);
	border-radius: 50%;
	color: #fff;
	font-weight: 700;
	height: 90%;
	margin: -189px auto 0 auto;
	opacity: 0;
	padding-top: 30%;
	transition: all 0.5s ease;
	width: 90%;
	z-index: 1;
}

.partner-contact:hover {
	opacity: 1;
	transform: scale(1.1);
}

.partner-contact p {
	font-size: 77%;
	padding: 5px;
}

.partner-contact a {
	color: #fff;
}

/* Clients */
.clients {
	padding-bottom: 0;
}

.industry-images {
  padding-bottom: 0;
}

.industry-img {
  display: inline;
  margin: 0 18px;
  padding-bottom: 0;
}

.industry-img img {
	border-radius: 50%;
	height: 100px;
	margin: 0 auto !important;
	width: 100px;
}

.industry-img.active img, .industry-img img:hover {
  opacity: 0.75;
}

.industry-descriptions {
  background: #00a99d;
  color: #fff;
  margin-top: 60px;
  text-align: left;
  min-height: 330px;
}

.industry-description {
	display: none;
  width: 63%;
  margin: 0 auto;
	transition: opacity 1s ease;
}

.industry-description:first-child {
	display: block;
}

.industry-description h4 {
  font-size: 34px;
  text-transform: uppercase;
  margin-top: 0;
}

.industry-description p {
  padding: 0;
}

/*------------------------------------*\
		3.0 - Pages and Posts
\*------------------------------------*/

/*------------------------------------*\
		3.1 - Landing
\*------------------------------------*/

.landing-title {
	font-weight: 400;
	text-align: center;
}

.landing-title:before {
	content: '';
  display: inline-block !important;
  height: 100%;
  margin-right: -0.25em;
  vertical-align: middle;
}

.landing-title.img-block {
	background-position: center 25% !important;
	height: 700px;
	padding: 0;
}

.landing-title img {
  margin-top: 20px;
}

.landing-title:first-child {
	height: 900px;
	padding-top: 180px;
}

.landing-title .vc_column_container {
	display: inline-block;
  vertical-align: middle;
  width: 100%;
  float: none !important;
}

.landing-title h2 {
	font-size: 65px;
	font-weight: 300;
	margin: 0;
	text-transform: uppercase;
}

.page-title h2 {
	font-size: 50px;
	font-weight: 300;
	margin-bottom: 0 !important;
	text-transform: uppercase;
}

.page-title h3 {
	font-size: 30px;
	font-weight: 300;
	margin-top: 0 !important;
}

.awards {
	margin: 0 auto;
}

/*------------------------------------*\
		3.2 - Services
\*------------------------------------*/

.services-list-item a, .industries h4 {
	font-size: 34px;
	letter-spacing: 1.5px;
	margin-bottom: 0;
	margin-top: 17px;
	color: #ffffff;
}

.block.services-list {
	height: auto;
	margin: 0 auto;
	padding: 4% 13%;
}

.block.services-list p {
	margin-bottom: 26px !important;
	padding: 19px;
}

.services-list ul {
	font-size: 13px;
	letter-spacing: 0.75px;
	list-style-type: none;
}

.services-list li {
	padding: 3px 0;
}

.services-list-item {
	border-bottom: 4px solid rgb(0, 116, 107);
	height: 60%;
	margin-right: 43px;
	min-height: 362px !important;
	width: 25% !important;
	padding-top: 65px !important;
}

.services-list-item h4 > a {
	position: absolute;
	top: -15px;
	left: 0;
	right: 0;
	bottom: -35px;
	padding-top: 15px;
}

.services-list-item:nth-child(2) {
	margin-left: 8.5%;
}

.services-list-item:last-child {
	margin-right: 0;
}

.services-list-item ul {
	font-size: 13px;
	line-height: 1.9em;
	list-style-type: none;
	padding: 0;
}

.services-list-item li {
	padding: 0;
}

.industries h2 {
	font-size: 50px;
	margin-bottom: 0 !important;
}

.industries-list {
	margin: 0 auto !important;
	padding: 20px 0;
	width: 70%;
}

.industries-list ul {
	margin-top: 0;
	padding: 0;
}

.values-list .wpb_column:first-child {
	border-right: 1px solid #fff;
}

/*------------------------------------*\
		3.3 - Insights
\*------------------------------------*/

.pagination {
	background: #dfdbd7;
	font-size: 20px;
	height: 150px;
	padding: 64px;
	text-align: center;
}

.page-numbers {
	padding: 0 20px;
}

.page-numbers.next,
.page-numbers.prev {
	border: 2px solid #434343;
	font-size: 18px;
	padding: 5px 10px;
}

.page-numbers.prev {
	margin-right: 5%;
}

.page-numbers.next {
	margin-left: 5%;
}

.page-numbers.current {
	color: #00a99d;
	font-weight: bold;
}

.type-post .post-content {
	max-width: 600px;
}

/*------------------------------------*\
		3.4 - Careers
\*------------------------------------*/

.careers-tagline h1 {
	font-size: 22px;
	font-weight: 400;
	margin: 25px auto;
	width: 64%;
}

.careers-teaser {
	padding: 0 15% 7% 15%;
}

.careers-teaser p {
	line-height: 23px;
}

.careers-teaser .wpb_column {
	padding: 50px 0 15px 0;
	text-align: center;
}

.careers-teaser .wpb_column:first-child {
	border-right: 1px solid #434343;
	margin-top: 20px;
}

.careers-teaser .wpb_content_element {
	margin-bottom: 24px !important;
}

.careers-teaser p {
	font-size: 13px;
	margin: 0 auto !important;
	padding: 0 10% !important;
	text-align: center;
	width: 89%;
}

.careers-quote .quote {
	width: 740px;
}

.current-opportunities .vc_custom_heading {
	margin: 32px 0 84px 0;
}

.send-resume h4 {
	font-size: 23px;
	letter-spacing: 1.5px;
}

.send-resume p {
	margin: 0 auto;
	width: 72%;
}

/*------------------------------------*\
		3.5 - About
\*------------------------------------*/

.about  h1 {
	font-size: 24px;
	font-weight: 400;
	margin: 0 auto;
	padding: 41px 0;
	width: 75%;
}

.about .vc_custom_heading {
	font-size: 20px;
}

.about p {
	margin: 0 auto;
	letter-spacing: 1px;
	text-align: center;
	width: 89%;
}

.values {
	padding-top: 35px;
}

.values h4 {
	font-size: 30px;
	margin: 0;
}

.values p {
	font-size: 22px;
	font-style: italic;
	font-weight: 300;
	margin-top: 0 !important;
}

.values > .wpb_column > .wpb_wrapper > *:last-child {
	padding-top: 35px;
}

.partners .vc_custom_heading p {
	font-size: 44px;
	letter-spacing: 1.5px;
}

.partners p {
	width: 102%;
}

/*------------------------------------*\
		3.6 - Contact
\*------------------------------------*/

.contact-form h2 {
	font-size: 30px;
	margin-bottom: 55px;
}

.contact-visit h2 {
	font-size: 30px;
	letter-spacing: 1.5px;
	margin-top: 0px;
	margin-bottom: 78px;
}

.contact-map {
	border-right: 1px solid black;
	padding: 45px 65px !important;
}

.contact-address {
	font-size: 26px;
	height: 100%;
	letter-spacing: 1px;
	line-height: 43px;
	margin-left: -44px;
	margin: 0 auto !important;
	text-align: left;
	width: 94%;
}

.contact-address:last-child {
	padding-top: 7%;
}

.contact-directions {
	font-size: 12px;
	text-align: left;
}

.contact-call {
	padding-bottom: 0px;
}

.contact-call .vc_custom_heading {
	margin-bottom: 5%;
}

/*------------------------------------*\
		3.7 - Clients
\*------------------------------------*/

.clients h3 {
	font-size: 27px;
	font-weight: 400;
	margin-bottom: 5px !important;
}

/*------------------------------------*\
		3.8 - Press
\*------------------------------------*/

.featured-press {
	height: 355px;
	letter-spacing: 1px;
	margin-bottom: 80px;
	text-align: center;
}

.featured-press h1 {
	font-size: 2.5em;
	margin: 1em;
}

.featured-press #read-more {
	border: 3px solid;
	font-size: 20px;
	font-weight: 700;
	padding: 8px 20px;
}

.press-list {
	background: #dfdbd7;
	font-size: 10px;
	height: 700px;
}

.list-container {
	margin: 0 auto;
	width: 50%;
}

.press-list ul {
	display: inline-block;
	float: left;
	letter-spacing: 1px;
	list-style-type: none;
	margin: 75px 0;
	width: 49%;
}

.press-list li {
	height: 62px;
	margin: 60px 0;
}

.press-list h1 {
	font-size: 15px;
	margin: 0;
}

.press-list h2 {
	font-weight: 400;
	margin: 0;
}

.press-list a:hover {
	color: #00a99d;
}

.press-list li:first-child {
	margin-top: 0;
}

.press-list li:last-child {
	margin-bottom: 0;
}

.all-posts-left {
	padding-left: 0;
	padding-right: 80px;
}

.all-posts-right {
	border-left: 1px solid #434343;
	padding-left: 80px;
}

/*------------------------------------*\
		3.9 - Consulting
\*------------------------------------*/

.consulting-section {
	padding: 40px 40px 10px 40px;;
	background-color: #f4f4f4;
	height: 415px;
	position: relative;
}

.consulting {
	padding-bottom: 0;
}

.consulting p {
	margin-bottom: 20px;
	max-width: 600px;
	display: inline-block;
}

.consulting-section h3 {
	font-size: 24px;
}

.event-banner {
	background-image: url('img/event-banner.png');
	background-size: cover;
	padding: 50px 0;
	color: #FFF !important;
	margin: auto !important;
	background-position: center;
}

.event-banner p {
	display: inline-block;
	width: 100%;
	max-width: none;
}

.event-banner .wpb_wrapper p:last-child {
	margin-bottom: 0 !important;
}

.consulting-section a {
	border: 2px solid;
	border-radius: 0;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 2.25px;
	line-height: 29px;
	padding: 10px 50px;
	transition: all 0.5s;

	background-color: #00a99d;
	border: 3px;
	border-bottom: 3px solid rgb(0, 116, 107);
	color: #fff;
	display: inline-block;
	margin-top: 40px;
	margin-bottom: 0 !important;
	position: absolute;
	bottom: 40px;
	left: 50%;
	width: 248px;
	margin-left: -124px;
}

.consulting-section a:hover {
	opacity: .85;
}

.consulting .quote {
	border: none !important;
	width: 100%;
}

.consulting .quote p {
	max-width: none;
}

.consulting .quote p:last-child {
	display: none;
}

.wpb_text_column p:last-child, .wpb_text_column *:last-child {
	margin-bottom: 30px !important;
}

@media (max-width: 990px) and (min-width: 768px) {
	.consulting-section {
		height: 512px;
	}
}

/*------------------------------------*\
		3.9.1 - Influence
\*------------------------------------*/

.the-influence-experience .header-image {
	margin: 80px 0 !important;
}

.the-influence-experience p {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.the-experience, .nomination-process {
	background-color: #F4F4F4;
	padding: 5% 0 !important;
}

.the-experience .vc_column_container {
	padding: 0 7%;
}

.detail-list {
	max-width: 700px;
	display: inline-block;
}

.the-details p {
	padding: 0 !important;
	margin-top: 0 !important;
	display: block;
}

.the-details ul {
	padding-left: 15px;
}

.the-details .vc_column_container {
	padding-left: 30px;
	padding-right: 30px;
}

.the-details h3 {
	color: #00A99D;
}

.process-list h3 {
	float: left;
	position: absolute;
	top: -18px;
	left: -20px;
	color: #00A99D;
}

.process-list {
	max-width: 600px;
	display: inline-block;
	text-align: left;
}

.process-list .wpb_wrapper {
	position: relative;
	padding: 0 5px;
}

.nomination-process ol {
	max-width: 700px;
	display: inline-block;
	margin-top: 60px;
}

.nomination-process li {
	float: left;
	width: 45%;
	text-align: left;
	font-size: 24px;
	color: #00A99D;
	font-weight: bold;
}

.nomination-process li:nth-child(2), .nomination-process li:nth-child(4) {
	float: right;
}

.nomination-process li p {
	padding: 0;
	color: #444;
	font-size: 16px;
	font-weight: normal;
}

.the-influence-experience .wpcf7 {
	max-width: 800px;
	display: inline-block;
}

.the-influence-experience .wpcf7 p {
	width: 100%;
}

.wpcf7 .left {
	float: left;
	margin-top: 40px;
	text-align: left;
}

.wpcf7 .right {
	float: right;
	margin-top: 40px;
	text-align: left;
}

.the-influence-experience .wpcf7 input[type="submit"] {
	margin-top: 30px;
}

.the-influence-experience input, .the-influence-experience textarea {
	margin: 7px 0;
}

@media (max-width: 920px) {
	.wpcf7 .left, .wpcf7 .right {
		float: none;
		display: inline-block;
		max-width: 92%;
	}

	.nomination-process li {
		float: none;
		width: 100%;
	}
}

/*------------------------------------*\
		4.0 - Posts
\*------------------------------------*/

.post {
	padding: 25px 19%;
	margin: 0 auto;
}

.press-release {
	border-top: 1px solid #BEBEBE;
	padding: 123px 19%;
	margin: 0 auto;
}

.post:first-child, .press-release:first-child {
	border: none;
}

.post-header {
	display: block;
	float: left;
	height: auto;
	width: 100%;
}

.post-details {
	float: left;
	width: 80%;
}

.post-author {
	float: left;
	margin-bottom: 28px;
	padding-left: 24px;
}

.post-author .avatar {
	border-radius: 50%;
}

.post-author #author, .post-author #author-title {
	display: block;
	font-style: italic;
}

.author-contact {
	display: block;
	font-size: 13px;
	margin-top: 20px;
	padding: 7px 16px;
	width: 100px;
}

span.date {
	font-size: 21px;
	font-weight: 700;
	letter-spacing: 1.5px;
}

ul.post-tags {
	margin-bottom: 33px;
	padding: 0;
}

.post-tags li {
	border: 1px solid black;
	display: inline-block;
	font-size: 12px;
	margin-right: 15px;
	padding: 1px 7px;
	text-transform: uppercase;
}

.post-content h1 {
	color: #00a99d;
	font-size: 19px;
}

.post-edit-link {
	color: #00a99d;
	display: block;
	font-size: 20px;
	font-weight: 700;
	padding-top: 30px;
}

/*------------------------------------*\
		5.0 - Responsive
\*------------------------------------*/

@media only screen and (max-width:1218px) {
	.nav ul li { width: 115px; }
}

@media only screen and (max-width:1111px) {
	/* main */
	.nav ul li { width: 95px; }
}

@media only screen and (max-width:1024px) {
	/* main */
	.logo { padding: 42px; }
	.nav { padding: 0; }
	.footer { height: 300px; padding: 4%; }
	.footer-left { font-size: 12px; letter-spacing: 0px; }
	.img-block { height: auto; }

	/* home */
	.landing-title:first-child { height: 769px; }

	/* services */
	.services-list-item:nth-child(2) { margin-left: 0; }
	.services-list-item { height: 64%; width: 29% !important; }

	/* insights */
	.post-details { width: 73%; }

	/* about */
	.partner { height: 300px; }
	.partner-contact { background: none; color: #434343; margin-top: 23px; opacity: 1;  width: initial; }
	.partner-contact p { padding: 0; }
	.partner-contact a { color: #434343; }

	/* press */
	.press-release { padding: 67px 19%; }
	.list-container { width: 80%; }

	/* clients */
	.clients .wpb_row { margin-bottom: 0; }
	.clients .wpb_row:first-child { margin-bottom: 5%; }
}

@media only screen and (max-width:1111px) {
	/* main */
	.nav ul li { width: 95px; }
	.footer-middle a { font-size: 15px !important; letter-spacing: 0px; }
	.footer-right img {margin-left: 0; }

	/* post */
	.post { padding: 50px; }

	/* clients */
	.industry-img { margin: 0 5px; }
	.industry-description { width: 90%; }
}

@media only screen and (max-width:943px) {
	.block.services-list { padding: 0; }
	.services-list-item { height: 59% !important; margin: 2%; padding: 0; width: 27% !important; }
	.services-list-item:nth-child(2) { margin-left: 5%; }
	.footer-left #social-media { width: 80%; }
	.footer { height: 250px; }
	.footer-left { font-size: 11px !important; }
	.footer-left ul { padding: 0; }
	.footer-right { padding-left: 60px; }
	.footer-right #address, .footer-right #number { padding-bottom: 0; }
}

@media only screen and (max-width:860px) {
	/* main */
	.block p { padding: 0; }

	/* clients */
	.industry-images { width: 80%; margin: 0 auto !important; }
}

@media only screen and (max-width:767px) {
	/* main */
	.nav ul { padding: 0; }
	.block { padding: 6% 2%; }
	.block p { padding: 0; }
	.quote { width: 100%; }
	.wpb_row { margin-bottom: 0px !important; }
	.vc_row { margin-left: 0 !important; margin-right: 0 !important; }
	.page-title { display: table-cell; vertical-align: middle; width: 767px; }
	.page-title h2 { margin-top: 0; }
	.page-title h3 { margin-bottom: 0; }

	/* home */
	.landing-title:first-child { height: 600px; padding-top: 12%; }
	.landing-title h2 { margin-top: 0; }
	.landing-title img { margin-top: 0; }
	.awards { display: none; }

	/* services */
	.block.services-list { height: auto; padding: 0; }
	.services-list-item { margin: 5% auto !important; padding: 7px; width: 69% !important; }
	.services-list ul { font-size: 16px; }

	/* insights */
	.post, .press-release { padding: 5%; }
	.post-details { width: 100%; }
	.post-tags { display: none; }
	.post-author { display: none; }

	/* careers */
	.careers-quote .quote { width: auto; }
	.careers-teaser .wpb_column:first-child { border-right: none; }

	/* about */
	.values-list .wpb_column:first-child { border-right: none; }
	.wpb_content_element { margin-bottom: 15px !important; }
	.values > .wpb_column > .wpb_wrapper > *:last-child { padding-top: 0 !important; }

	/* contact */
	.contact-call { padding-bottom: 0; }
	.contact-map { border-right: none; float: left; padding: 0 45px !important; }
	.contact-directions { display: none; }

	/* press */
	.featured-press { height: auto; }

	/* client */
	.clients { padding: 0; }
	.clients h3 { margin-bottom: 0 !important; }
	.client { margin: 25px 0; }
	.vc_row.industry-images { margin-left: auto !important; margin-right: auto !important; }
}

@media only screen and (max-width: 699px) {
	.nav ul li { width: 80px; }
	.footer { height: 270px; padding: 5% 3% !important; }
	.footer-left { width: 50%; }
	#menu-footer li { padding: 5px 0; font-size: 12px; }
	.footer-middle { display: none; }
	.footer-right { padding: 0; margin: 0; text-align: center; width: 50%; }
	.footer-right div { margin-left: 0; }
}

@media only screen and (max-width:667px) {
	/* main */
	.logo { padding: 40px !important; }
	.nav ul li { padding: 42px 0;  }
	.block p, .quote p { font-size: 15px; }
	.vc_btn { font-size: 15px !important; }

	/* home */
	.landing-title h2 { font-size: 35px !important; margin-bottom: 5%; }
	.landing-title:first-child { height: 400px; }
	.landing-title.img-block { height: 500px; }

	/* about */
	.partner { margin-top: 15px; margin-bottom: 100px; padding-left: 30px; }
	.partner-contact {margin-top: 6px;}
	.partners .vc_custom_heading p { font-size: 30px; }
	.partner-img { height: 250px; width: 250px; }

	/* press */
	.featured-press { margin-bottom: 5%; }
	.press-list { height: 1237px; }
	.press-list ul { display: block; margin: 47px 0 0 0 !important; width: 100%; }
	.all-posts-left, .all-posts-right { border-left: none; padding: 0 10%; }

	/* contact */
	.contact-map { padding: 0; }
	.contact-form h2 { margin: 7%; }
	.contact-address { text-align: center; }
	.contact-call h2 { font-size: 48px !important; }
}

@media only screen and (max-width:589px) {
	/* main */
	.logo, .nav { padding: 15px 0 0 30px !important; width: 70%; }
	.logo-dark { padding: 7px 0 0 30px !important; }
	.nav { display: none; }
	.mobile_menu_dark { color: #434343; padding: 12px 0 12px 10px; }
	.mobile_menu { display: inline-block; }
	.mobile_menu #menu-main-menu-1 { display: none; }
	.landing-title:first-child { height: 350px; padding-top: 13%; }
	.footer-left { margin: 0 auto; width: 100%; }
	.footer-left #social-media { margin: 0 auto; width: 45% !important; }
	.footer-right { display: none; }
	.page-title { height: 185px; text-align: center; display: table-cell; height: 44px; vertical-align: middle; width: 589px; }
	h1 { font-size: 30px; }
	.page-title h2, .landing-title h2 { font-size: 30px !important; margin-top: 0; }
	.vc_btn { font-size: 12px !important; }
	.outlined_button { padding: 5px 25px !important; }

	/* about */
	.values h3 { font-size: 30px; margin: 0; }
	.values h4 { font-size: 20px; }

	/* services */
	.services-list-item h4, .industries h4 { font-size: 30px; }
	.industries-header:nth-child(2) p { font-size: 30px !important;  padding-bottom: 18px; }
	.industries-list { margin: 0 auto !important; }

	/* insights */
	.pagination { padding: 64px 0; }

	/* careers */
	.careers-tagline h1 { font-size: 15px; width: 85%; }
	.careers-teaser { margin-top: 0; padding-top: 0; }
	.careers-teaser .vc_column_container:first-child { padding-top: 0; }
	.careers-teaser p { width: 100%; }
	.current-opportunities { margin: 12px 0 45px 0 !important; }
	.current-opportunities p { font-size: 30px !important; }
	.current-opportunities a, .send-resume a { width: 100%; }
	.send-resume a { padding: 10px 65px !important; }
	.send-resume p { width: 100%; }

	/* contact */
	input#name, input#email, input#company, input#phone, input#message, input[type=file] { width: 82%; }

	/* press */
	.featured-press { margin-bottom: 2%; }
	.featured-press h1 { font-size: 30px; margin: 0; }
	.featured-press #read-more { display: block; margin: 15px; }

	/* clients */
	.clients-header h3 { padding-top: 30px; }
}



@media only screen and (max-width:546px) {

	/* landing */
	.landing-title.img-block { height: 340px; }

	/* contact */
	.contact-map { width: 90%; display: block; float: left; text-align: center; }

	/* press */
	.all-posts-left, .all-posts-right { padding: 0; }

	/* clients */
	.industry-img { margin: 0 !important; }
}




/*------------------------------------*\
		6.0 - Misc
\*------------------------------------*/

::selection {
	background: #04A4CC;
	color: #FFF;
	text-shadow: none;
}
::-webkit-selection {
	background: #04A4CC;
	color: #FFF;
	text-shadow: none;
}
::-moz-selection {
	background: #04A4CC;
	color: #FFF;
	text-shadow: none;
}

/*------------------------------------*\
		7.0 - Wordpress Core
\*------------------------------------*/

.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

.alignright {
	float:right;
	margin:5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 5px 20px 20px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	background: #FFF;
	border: 1px solid #F0F0F0;
	max-width: 96%;
	padding: 5px 3px 10px;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption .wp-caption-text,
.gallery-caption {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

/*------------------------------------*\
		8.0 - Print
\*------------------------------------*/

@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content:" (" attr(href) ")";
	}

	abbr[title]:after {
		content:" (" attr(title) ")";
	}

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}

	pre,blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
